In [ ]:
# Initialize Otter
import otter
grader = otter.Notebook("pandas_advancing.ipynb")

## Pandas advancing

### Notebook Walk-Through

In addition to the notebook, there is a prerecorded walk-through
video of the notebook. We encourage you to reference this video as you work through
the notebook. Run the cell below to display the video.
<br>
**Note:** This video is recorded in Spring 2022. There may be slight
inconsistencies between the version you are viewing versus the version used in
the recording, but content is identical.

In [ ]:
from IPython.display import YouTubeVideo
YouTubeVideo("MLUNk_D7KW0", list = 'PLQCcNQgUcDfoWO3WVtznI7CBJmtNUqbAN', listType = 'playlist')

---

[Pandas](https://pandas.pydata.org/) is one of the most widely used Python libraries in data science. In this notebook, you will review commonly used data-wrangling operations/tools in `Pandas`. We aim to give you familiarity with:

* Creating DataFrames,
* Slicing DataFrames (i.e., selecting rows and columns)
* Filtering data (using Boolean arrays)

In this notebook, you are going to use several pandas methods. Reminder from lecture that you may press `shift+tab` on method parameters to see the documentation for that method. For example, if you were using the `drop` method in pandas, you could press `shift+tab` to see what `drop` is expecting.

This notebook expects that you have watched the `Pandas I` and `II` lectures. If you have not, this notebook will probably take a very long time.

**Note**: The Pandas interface is notoriously confusing for beginners, and the documentation is not consistently great. Throughout the semester, you will have to search through Pandas documentation and experiment, but remember it is part of the learning experience and will help shape you as a data scientist!

**This assignment seems long, but rest assured that a large part of it is a tutorial (i.e., we will guide you through many aspects of using `Pandas` in the most efficient way possible!).**

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
pd.set_option('mode.copy_on_write', True)
%matplotlib inline

<hr style="border: 5px solid #003262;" />
<hr style="border: 1px solid #fdb515;" />

### **REVIEW:** Creating DataFrames & Basic Manipulations

Recall that a [DataFrame](https://pandas.pydata.org/pandas-docs/stable/user_guide/dsintro.html#dataframe) is a table in which each column has a specific data type; there is an index over the columns (typically string labels) and an index over the rows (typically ordinal numbers).

Usually, you'll create `DataFrames` by using a function like `pd.read_csv`. However, in this section, we'll discuss how to create them from scratch.

The [documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html) for the pandas `DataFrame` class provides several constructors for the `DataFrame` class.

**Syntax 1:** You can create a `DataFrame` by specifying the columns and values using a dictionary, as shown below. 

The keys of the dictionary are the column names, and the values of the dictionary are lists containing the row entries.

In [ ]:
fruit_info = pd.DataFrame(
    data = {'fruit': ['apple', 'orange', 'banana', 'raspberry'],
          'color': ['red', 'orange', 'yellow', 'pink'],
          'price': [1.0, 0.75, 0.35, 0.05]
          })
fruit_info

**Syntax 2:** You can also define a `DataFrame` by specifying the rows as shown below. 

Each row corresponds to a distinct tuple, and the columns are specified separately.

In [ ]:
fruit_info2 = pd.DataFrame(
    [("red", "apple", 1.0), ("orange", "orange", 0.75), ("yellow", "banana", 0.35),
     ("pink", "raspberry", 0.05)], 
    columns = ["color", "fruit", "price"])
fruit_info2

You can obtain the dimensions of a `DataFrame` by using the shape attribute `DataFrame.shape`.

In [ ]:
fruit_info.shape

You can also convert the entire `DataFrame` into a two-dimensional `NumPy` array. Remeber that a `Numpy` array can hold homogenous data wheras a `DataFrame` can contain heterogeneous data.

In [ ]:
numbers = pd.DataFrame({"A":[1, 2, 3], "B":[0, 1, 1]})
numpy_numbers = numbers.to_numpy()

print(type(numpy_numbers))
print(numpy_numbers)

The `values` attribute returns the content of the `DataFrame` in the form of a list of lists.

In [ ]:
fruit_info.values

There are other constructors but we do not discuss them here.

### **REVIEW:** Selecting Rows and Columns in Pandas

As you've seen, there are two verbose operators in Python for selecting rows:
`loc` and `iloc`. Let's review them briefly.

**Approach 1:** `loc`

The first of the two verbose operators is `loc`, which takes two arguments. The first is one or more **row labels**, the second is one or more **column labels** - both of which are displayed in bold to the left of each of the rows and above each of the columns, respectively. These are not the same as positional indices, which are used for indexing Python lists or `NumPy` arrays!

The desired rows or columns can be provided individually, in slice notation, or as a list. Some examples are given below.

Note that **slicing in `loc` is inclusive** on the provided labels.

In [ ]:
# Get rows 0 through 2 (inclusive) with labels 'fruit' through 'price' (which would include the color column that is in between both labels)
fruit_info.loc[0:2, 'fruit':'price']

In [ ]:
# Get rows 0 through 2 (inclusive) and columns 'fruit' and 'price'. 
# Note the difference in notation and result from the previous example.
fruit_info.loc[0:2, ['fruit', 'price']]

In [ ]:
# Get rows 0 and 2 and columns fruit and price. 
fruit_info.loc[[0, 2], ['fruit', 'price']]

In [ ]:
# Get rows 0 and 2 and column fruit
fruit_info.loc[[0, 2], ['fruit']]

Note that if we request a single column but don't enclose it in a list, the return type of the `loc` operator is a `Series` rather than a `DataFrame`.

In [ ]:
# Get rows 0 and 2 and column fruit, returning the result as a Series
fruit_info.loc[[0, 2], 'fruit']

If we provide only one argument to `loc`, it uses the provided argument to select rows, and returns all columns.

In [ ]:
fruit_info.loc[0:1]

Note that if you try to access columns without providing rows, `loc` will crash.

In [ ]:
# Uncomment, this code will crash
#fruit_info.loc[["fruit", "price"]]

# Uncomment, this code works fine: 
#fruit_info.loc[:, ["fruit", "price"]]

<br/>

**Approach 2:** `iloc`

`iloc` is very similar to `loc` except that its arguments are **row numbers** and **column numbers**, rather than row and column labels. A useful mnemonic is that the `i` stands for "integer". This is quite similar to indexing into a Python `list` or `NumPy` array.

In addition, **slicing for `iloc` is exclusive** on the provided integer indices. Some examples are given below:

In [ ]:
# Get rows 0 through 3 (exclusive) and columns 0 through 3 (exclusive)
fruit_info.iloc[0:3, 0:3]

In [ ]:
# Get rows 0 through 3 (exclusive) and columns 0 and 2.
fruit_info.iloc[0:3, [0, 2]]

In [ ]:
# Get rows 0 and 2 and columns 0 and 2.
fruit_info.iloc[[0, 2], [0, 2]]

In [ ]:
# Get rows 0 and 2 and column fruit
fruit_info.iloc[[0, 2], [0]]

In [ ]:
# Get rows 0 and 2 and column fruit
fruit_info.iloc[[0, 2], 0]

Note that in these `loc` and `iloc` examples above, the row **label** and row **number** were always the same.

Let's see an example where they are different. If we sort our fruits by price, we get:

In [ ]:
fruit_info_sorted = fruit_info.sort_values("price")
fruit_info_sorted

After sorting, note how row number 0 now has index label 3, row number 1 now has index label 2, etc. These indices are the arbitrary numerical indices generated when we created the `DataFrame`. For example, `banana` was originally in row 2, and so it has row label 2. Note the distinction between the index _label_, and the actual index _position_.

If we request the rows in positions 0 and 2 using `iloc`, we're indexing using the row NUMBERS, not labels.

In [ ]:
fruit_info_sorted.iloc[[0, 2], 0]

Lastly, similar to `loc`, the second argument to `iloc` is optional. That is, if you provide only one argument to `iloc`, it treats the argument you provide as a set of desired row numbers, not column numbers.

In [ ]:
fruit_info_sorted.iloc[[0, 2]]

**Approach 3:** `[]` Notation for Accessing Rows and Columns

`Pandas` also supports the `[]` operator. It's similar to `loc` in that it lets you access rows and columns by their name.

However, unlike `loc`, which takes row names and also optionally column names, `[]` is more flexible. If you provide it only row names, it'll give you rows (same behavior as `loc`), and if you provide it with only column names, it'll give you columns (whereas `loc` will crash).

Some examples:

In [ ]:
fruit_info[0:2]

In [ ]:
# Here we're providing a list of fruits as single argument to []
fruit_info[["fruit", "color", "price"]]

Note that slicing notation is not supported for columns if you use `[]` notation. Use `loc` instead.

In [ ]:
# Uncomment and this code crashes
#fruit_info["fruit":"price"]

# Uncomment and this works fine
#fruit_info.loc[:, "fruit":"price"]

`[]` and `loc` are quite similar. For example, the following two pieces of code are functionally equivalent for selecting the fruit and price columns.

1. `fruit_info[["fruit", "price"]]` 
2. `fruit_info.loc[:, ["fruit", "price"]]`.

Because it yields more concise code, you'll find that our code and your code both tend to feature `[]`. However, there are some subtle pitfalls of using `[]`. If you're ever having performance issues, weird behavior, or you see a `SettingWithCopyWarning` in pandas, switch from `[]` to `loc`, and this may help.

To avoid getting too bogged down in indexing syntax, we'll avoid a more thorough discussion of `[]` and `loc`. We may return to this at a later point in the course.

For more on `[]` vs. `loc`, you may optionally try reading:
1. https://stackoverflow.com/questions/48409128/what-is-the-difference-between-using-loc-and-using-just-square-brackets-to-filte
2. https://stackoverflow.com/questions/38886080/python-pandas-series-why-use-loc/65875826#65875826
3. https://stackoverflow.com/questions/20625582/how-to-deal-with-settingwithcopywarning-in-pandas/53954986#53954986

Now that we've reviewed basic indexing, let's discuss how we can modify dataframes. We'll do this via a series of exercises.

---
### Question 1a

For a DataFrame `d`, you can add a column with `d['new column name'] = ...` and assign a `list` or `array` of values to the column. Add a column of integers containing 1, 2, 3, and 4 called `rank1` to the `fruit_info` table, which expresses **your personal preference** about the taste ordering for each fruit (1 is tastiest; 4 is least tasty). There is no right order, it is completely your choice of rankings.

In [ ]:
...
# Show the result
fruit_info

In [ ]:
grader.check("q1a")

---
### Question 1b

You can also add a column to `d` with `d.loc[:, 'new column name'] = ...`. As above, the first parameter is for the rows, and the second is for columns. The `:` means changing all rows, and the `'new column name'` indicates the name of the column you are modifying (or, in this case, adding). 

Add a column called `rank2` to the `fruit_info` table, which contains the same values in the same order as the `rank1` column.

In [ ]:
...
# Show the result
fruit_info

In [ ]:
grader.check("q1b")

---
### Question 2

Use the `.drop()` method to [drop](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop.html) both the `rank1` and `rank2` columns you created. Make sure to use the `axis` parameter correctly. Note that `drop` does not change a table but instead returns a new table with fewer columns or rows unless you set the optional `inplace` argument.

**Hint:** Look through the [documentation](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop.html) to see how you can drop multiple columns of a `DataFrame` at once using a list of column names.

In [ ]:
fruit_info_original = ...
# Show the result
fruit_info_original

In [ ]:
grader.check("q2")

---

### Question 3

Use the `.rename()` method to rename the columns of `fruit_info_original` so they begin with capital letters. Set this new `DataFrame` to `fruit_info_caps`. For an example of how to use rename, see this linked [documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html).

In [ ]:
...
...
fruit_info_caps = ...
# Show the result
fruit_info_caps

In [ ]:
grader.check("q3")

### Babynames Dataset

For the next few questions of this notebook, let's move on to a real-world
dataset. We'll be using a dataset of baby names. The babynames dataset
contains a record of the given names of babies born in the United States each
year, and for each state.

See [the baby names dataset
page](https://github.com/odsti/datasets/tree/main/baby_names) for more
details.

In [ ]:
# The dataset is a _compressed_ CSV file (it's fairly large uncompressed).
babynames = pd.read_csv('data/babynames.csv.gz')
len(babynames)

In [ ]:
babynames.head()

#### Selection Examples on Baby Names

As with our synthetic fruit dataset, we can use `loc` and `iloc` to select rows and columns of interest from our dataset.

In [ ]:
babynames.loc[2:5, 'Name']

Notice the difference between the following cell and the previous one; just passing in `'Name'` returns a `Series` while `['Name']` returns a `DataFrame`.

In [ ]:
babynames.loc[2:5, ['Name']]

The code below collects the rows in positions 1 through 3, and the column in position 3 ("Name").

In [ ]:
babynames.iloc[1:4, [3]]

---

### Question 4a

Use `.loc` to select `Name` and `Year` **in that order** from the `babynames` table.

In [ ]:
name_and_year = ...
# Show the result
name_and_year[:5]

In [ ]:
grader.check("q4a")

---

### Question 4b

Now repeat the same selection using the plain `[]` notation.

In [ ]:
name_and_year = ...
# Show the result
name_and_year[:5]

In [ ]:
grader.check("q4b")

### **REVIEW**: Filtering with boolean arrays

Filtering is the process of removing unwanted entries. In your quest for cleaner data, you will undoubtedly filter your data at some point: whether it be for clearing up cases with missing values, for culling out fishy outliers, or for analyzing subgroups of your dataset. Example usage looks like `df[df['column name'] < 5]`.

For your reference, some commonly used comparison operators are given below.

Symbol | Usage      | Meaning
------ | ---------- | -------------------------------------
==   | a == b   | Does a equal b?
<=   | a <= b   | Is a less than or equal to b?
&gt;=   | a >= b   | Is a greater than or equal to b?
<    | a < b    | Is a less than b?
&#62;    | a &#62; b    | Is a greater than b?
~    | ~p       | Returns negation of p
&#124; | p &#124; q | p OR q
&    | p & q    | p AND q
^  | p ^ q | p XOR q (exclusive or)

In the following, we construct the `DataFrame` containing only names registered in California.

In [ ]:
ca = babynames[babynames['State'] == 'CA']
ca.head(5)

---

### Question 5

Using a Boolean array, select the names in Year 2000 (from `babynames`) that have larger than 3000 counts. Keep all columns from the original `babynames` DataFrame.

_Note_: Note that compound expressions have to be grouped with parentheses. That is, any time you use `p & q` to filter the `DataFrame`, make sure to use `df[(df[p]) & (df[q])]` or `df.loc[(df[p]) & (df[q])]`.  See [combining Boolean arrays](https://lisds.github.io/textbook/mean-slopes/combining_boolean_arrays.html) for more detail.

You may use either `[]` or `loc`. Both will achieve the same result. For more on `[]` vs. `loc`, see the stack overflow links from the intro portion of this lab.

In [ ]:
result = ...
# Show the result
result.head()

In [ ]:
grader.check("q5")

### **REVIEW:** `str`

Pandas provides special purpose functions for working with specific common data types such as strings and dates. For example, the code below provides the length of every baby's name from our `babynames` dataset.

In [ ]:
babynames['Name'].str.len()

---
### Question 6a

Add a column to `babynames` named `First Letter` that contains the first letter of each baby's name.

Hint: you can index using `.str` similarly to how you'd normally index Python strings. Or, you can use `.str.get` [(documentation here)](https://pandas.pydata.org/docs/reference/api/pandas.Series.str.get.html).

In [ ]:
babynames...
# Show the result
babynames

In [ ]:
grader.check("q6a")

### Question 6b

In 2022, how many babies had names that started with the letter "A"?

In [ ]:
#- These prompts are just for your information.  You can solve this
#- problem in any way you like.
babynames_2022 = ...
just_A_names_2022 = ...
number_A_names = ...
# Show the result
number_A_names

In [ ]:
grader.check("q6b")

<hr style="border: 5px solid #003262;" />
<hr style="border: 1px solid #fdb515;" />

## Pandas and Groupby

### Question Walk-Through

This question is about about Pandas and Groupby. Here is a pre-recorded
walkthrough of the notebook â€” we've only used the first question. We encourage
you to reference this video as you work through the notebook. Run the cell
below to display the videos.

In [ ]:
from IPython.display import YouTubeVideo
YouTubeVideo("hwRYs5ZRgW4", list = 'PLQCcNQgUcDfqSg049DVFZCQbupMY5Bn5Z', listType = 'playlist')

In this question, you will review commonly used data-wrangling operations
/ tools in `Pandas`. We aim to give you familiarity with aggregating the data (using `.groupby`).

In this notebook, you are going to use several `pandas` methods. Don't forget
you can press `shift+tab` on method parameters to see the documentation for
that method. For example, if you were using the `drop` method in `pandas`, you
could press `shift+tab` to see what `drop` is expecting.

### **REVIEW:** `Groupby` and `Groupby` Shorthand

Let's now turn to use `groupby`.

### Elections

Let's start by reading in a dataset on US elections.

In [ ]:
# Run this cell to load data from CSV file; no further action is needed.
elections = pd.read_csv("data/elections.csv")
elections.head(5)

We can `groupby` a specific column, e.g., `"Party"` and can
print out the resulting sub-DataFrames. The output below can help you get an
understanding of what `groupby` is actually doing.

An example is given below for elections since 1980.

In [ ]:
# Run this cell to print sub-DataFrames of a groupby object; no further action is needed.
for n, g in elections[elections["Year"] >= 1980].groupby("Party"):
    print(f"Name: {n}") # By the way, this is an "f string", a relatively new and great feature of Python
    display(g)

Recall that once we've formed groups, we can aggregate each sub-DataFrame
(AKA group) into a single row using an aggregation function. For example, if
we use `.agg('mean')` on the groups above, we get back a single `DataFrame`
where each group has been replaced by a single row. In each column for that
aggregate row, the value that appears is the average of all values in that
group.

For columns that are non-numeric, e.g., `"Result"`, the `pandas` version we're
using will error because we cannot compute the mean of the `Result` column. To
remedy this, we add a `numeric_only=True` argument to our function calls so
that we only calculate the `mean` for columns that contain numeric values.
Alternatively, we can manually select only the numerical columns before
calling the `agg` function so the aggregation is only applied to numerical
columns.

In [ ]:
elections_after_1980 = elections[elections["Year"] >= 1980]

elections_after_1980.groupby("Party").agg('mean', numeric_only=True)

# alternatively, we can manually select only the numerical columns before
# calling `agg`:
# elections_after_1980.groupby("Party")[['Year', 'Popular vote', '%']].agg('mean')

Equivalently we can use one of the shorthand aggregation functions, e.g. `.mean()`:

In [ ]:
elections_after_1980.groupby("Party").mean(numeric_only=True)

Note that the index of the `DataFrame` returned by an `groupby.agg` call is no
longer a set of numeric indices from $0$ to $N-1$. Instead, we see that the
index for the example above is now the `Party`. If we want to restore our
`DataFrame` so that `Party` is a column rather than the index, we can use
`reset_index`.

In [ ]:
elections_after_1980.groupby("Party").mean(numeric_only=True).reset_index()

**IMPORTANT NOTE:** Notice that the code above consists of chained method
calls. This sort of code is very common in `Pandas` programming and in data
science in general. Such chained method calls can sometimes go many layers
deep, so you might consider adding newlines between lines of code for clarity.
For example, we could instead write the code above as:

In [ ]:
# pandas method chaining
(
elections.query("Year >= 1980").groupby("Party") 
                               .mean(numeric_only=True)  ## Computes the mean values by party
                               .reset_index()            ## Resets to a numerical index
)

Note that we have surrounded the entire call by a big set of parentheses so that `Python` doesn't complain about the indentation. An alternative is to use the \ symbol to indicate to `Python` that your code continues on to the next line!

In [ ]:
# pandas method chaining (alternative)
elections[elections["Year"] >= 1980].groupby("Party") \
                               .mean(numeric_only=True) \
                               .reset_index()

**IMPORTANT NOTE:** You should NEVER solve problems like the one above using loops or list comprehensions. This is bad practice because it is very slow, and will be especially slow with big datasets. 

Before we continue, we'll print out the election dataset again for your
convenience.

In [ ]:
elections.head(5)

---

### Question 2.1a

Using `groupby.agg` or one of the shorthand methods (`groupby.min`, `groupby.first`, etc.), create a `Series` object `best_result_percentage_only` that returns a `Series` showing the entire best result for every party, sorted in decreasing order. Your `Series` should include only parties that have earned at least 10% of the vote in some election. Your result should look like this:

<code>
Party
Democratic               61.344703
Republican               60.907806
Democratic-Republican    57.210122
National Union           54.951512
Whig                     53.051213
Liberal Republican       44.071406
National Republican      43.796073
Northern Democratic      29.522311
Progressive              27.457433
American                 21.554001
Independent              18.956298
Southern Democratic      18.138998
American Independent     13.571218
Constitutional Union     12.639283
Free Soil                10.138474
Name: %, dtype: float64
</code>
<br/>

A list of named `groupby.agg` shorthand methods are [here](https://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html#aggregation) (you'll have to scroll down about one page).

In [ ]:
...
best_result_percentage_only = ...
# Show the result
best_result_percentage_only

In [ ]:
grader.check("q7")

## Congratulations! You have finished this notebook


## Submission

Make sure you have run all cells in your notebook in order before running the cell below, so you can check your answers.

In [ ]:
grader.check_all()